body {
  background-color: #EEEEEE;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  margin: 0;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 20px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.footer-link{
  color:#6F38C5;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
hr {
  border: dotted #11999E;
  border-bottom:none;
  width: 4%;
  margin: 100px auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;


}
a{
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
p{
  line-height: 2;
}
.monitor {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.counselling {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.intro {
  width: 30%;
  margin:auto;
}
.btn {
  background: #07283d;
  background-image: -webkit-linear-gradient(top, #07283d, #2bb86d);
  background-image: -moz-linear-gradient(top, #07283d, #2bb86d);
  background-image: -ms-linear-gradient(top, #07283d, #2bb86d);
  background-image: -o-linear-gradient(top, #07283d, #2bb86d);
  background-image: linear-gradient(to bottom, #07283d, #2bb86d);
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  text-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #eb0c17;
  background-image: -webkit-linear-gradient(top, #eb0c17, #b2d934);
  background-image: -moz-linear-gradient(top, #eb0c17, #b2d934);
  background-image: -ms-linear-gradient(top, #eb0c17, #b2d934);
  background-image: -o-linear-gradient(top, #eb0c17, #b2d934);
  background-image: linear-gradient(to bottom, #eb0c17, #b2d934);
  text-decoration: none;
}
